body {
	background-image:none;font-size:14px
}
.container {
	width:800px
}
.content {
float: right;
width: 800px;
padding-top: 12px;
}

.forPrint {display:block}
.forPrint p {text-align:center}

.top_nav, .portrait, .side, .request, .search, .footer, .center, .copyright {
	display:none
}